<!DOCTYPE HTML >
<html>
<head>
    <title>管理页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="js/jquery_1.10.2.js"></script>
    <script src="js/baseJs.js"></script>
</head>
<body>
姓名: <input  id="userName" type="text" /> <br/>
<input id="submit" type="submit"/>
<br/>
主叫电话: <input  id="fromTel" type="text" /> <br/>
被叫电话: <input  id="toTel" type="text" /> <br/>
<input id="callback" type="submit"/>
<script src="js/admin.js"></script>
</body>
</html>